.article-li{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}
.article-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 20px 15px 30px;
}

.article-meta{
    flex: 1;
    max-width: 60%;
    /* margin-right: 20px; */
}

.article-title {
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    letter-spacing: -0.016em;
    line-height: 30px;
}

.article-title h2{
    margin: 0 0 13px;
}

.card-username{
    text-transform: capitalize;
}

.article-subtitle {
    color: #6b6969;
    margin: 0 0 20px;
}

.user-details{
    display: flex;
    padding-bottom: 12px;
}
.profile_pic{
    padding-right: 8px;
}
.article-image {
    display: flex;
    align-items: center;
    width: 170px;
    height: 100px;
    object-fit: cover;
    padding-left: 20px;
}
.article-image img{
    width: 100%;
}

@media (max-width:610px) {
    .article-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        padding: 20px 15px 10px 20px;
    }
    .article-image {
        display: flex;
        align-items: flex-end;
        width: 140px;
        height: 90px;
        object-fit: cover;
        padding-left: 12px;
    }
    .article-image img{
        width: 100%;
    }
    
}

.time-ago{
    color: #8f8a8a;
}

.like-container{
    display: flex;
    align-items: center;
}

.reaction-button{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding-right: 25px;
}
@media (max-width:510px) {
    .reaction-button{
        display: flex;
        align-items: center;
        border: none;
        background: none;
        padding-right: 6px;
    }
    
}
.reaction-button :hover{
    fill: rgb(151, 0, 151);
}
.like-count{
    padding: 4px 10px 0 4px;
    color: rgb(61, 59, 59)
}
